.searchControl {
  margin-left: -3px;
  margin-top: 8px;
  display: flex;

  &.marginBottom0 {
    margin-bottom: 0;
  }

  &.marginTop0 {
    margin-top: 0;
  }
}

.organizationSearchModalContent {
  min-height: 400px;
  padding: 0;
  position: relative;

  & [class^="mclRowContainer--"] {
    max-width: 100%;

    & div {
      max-width: 100%;
    }

    & [class^="mclCell--"] {
      word-break: break-word;
    }
  }
}

.organizationSearchModal {
  min-height: 400px;
}

.organizationError {
  color: red
}
